@keyframes changeShape{
	from{
		border-radius: 0%;
	}

	60%{
		background-color: red;
	}

	to{
		border-radius: 50%;
	}
}


div{
	height: 200px;
	width: 200px;
	position: absolute;
	top: 40%;
	left: 40%;
	background-color: aquamarine;
	animation: changeShape 1s ease-in-out 4 alternate;
}
